<div fxLayout='row' class="zero">
    <div fxFlex="10" class="one" >
    </div>
    <div fxFlex="80" class="two">
        <div fxLayout="column">
            <h1>The Survey Instrument</h1>
            <p>
                The survey itself will consist of a limited number of questions, 
                focused on cybersecurity issues that matter to industry professionals,
                and repeated month after month. For the first run, questions will be as follows.
                While we want the question set to be stable over the long run, initial jiggles may be indicated.
                <br/>
            </p>
            <div>
                <span>Responses will be amongst five multiple choices:</span>
                    <mat-list>
                            <mat-list-item>- Falling Fast</mat-list-item>
                            <mat-list-item>- Falling</mat-list-item>
                            <mat-list-item>- Static</mat-list-item>
                            <mat-list-item>- Rising</mat-list-item>
                            <mat-list-item>- Rising Fast</mat-list-item>
                    </mat-list>
            </div>
            <div>
                <h2>ICS Survey Questions</h2>
                <p>Each of the survey questions below is responded to on a five point scale, 
                with the respondents rating the risks as having fallen fast, fallen, stayed static, 
                risen or risen fast when compared to the previous month.</p>
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h4>Attack Actors</h4>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <mat-list>
                            <mat-list-item>- Insider threat: In your view, the risk from malicious insiders (with both opportunity and motivation)</mat-list-item>
                            <mat-list-item>- Strategic rivals: The likelihood that there exist attacks explicitly targeting economically valuable data within your organization</mat-list-item>
                            <mat-list-item>- Activists/hacktivists: Your exposure to politically or ideologically motivated activity (whether local or abroad)</mat-list-item>
                            <mat-list-item>- Criminals: The threat to your organization from criminally motivated attackers</mat-list-item>
                            <mat-list-item>- Nation-states: The degree to which you are a target for nation-state actors</mat-list-item>
                        </mat-list>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h4>Weapons</h4>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <mat-list>
                            <mat-list-item>- Botnets</mat-list-item>
                            <mat-list-item>- Mass malware</mat-list-item>
                            <mat-list-item>- Vulnerability exploitation</mat-list-item>
                            <mat-list-item>- Phishing / social engineering</mat-list-item>
                            <mat-list-item>- Attacks customized to your organization</mat-list-item>
                        </mat-list>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h4>Effect desired by attackers</h4>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <mat-list>
                            <mat-list-item>- Data theft (Confidentiality)</mat-list-item>
                            <mat-list-item>- Data modification (Integrity)</mat-list-item>
                            <mat-list-item>- Business disruption (Availability)</mat-list-item>
                        </mat-list>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h4>Attack Targets</h4>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <mat-list>
                            <mat-list-item>- Web facing applications</mat-list-item>
                            <mat-list-item>- Internet exposed devices and appliances</mat-list-item>
                            <mat-list-item>- End point desktops</mat-list-item>
                            <mat-list-item>- Mobile devices</mat-list-item>
                            <mat-list-item>- Public infrastructures you rely upon including cloud</mat-list-item>
                            <mat-list-item>- Third parties (counterparties, vendors, partners etc) who have rightful access to your data</mat-list-item>
                            <mat-list-item>- Network-connected but autonomous devices (collectively known as the “Internet of Things”)</mat-list-item>
                        </mat-list>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h4>Defenses</h4>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <mat-list>
                            <mat-list-item>- Vulnerability of available defenses to known threats</mat-list-item>
                            <mat-list-item>- Vulnerability of available defenses to unknown threats</mat-list-item>
                        </mat-list>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h4>Overall Perceptions</h4>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <mat-list>
                            <mat-list-item>- Ability to detect false digital claims of identity when received by/presented to machines/functions for which you are responsible</mat-list-item>
                            <mat-list-item>- Media and public perception of cyber risks affecting the general populace</mat-list-item>
                            <mat-list-item>- Your personal risk from online activity including commerce</mat-list-item>
                        </mat-list>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
      
    </div>
    <div fxFlex class="three"></div>
  
</div>
