<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span class="example-spacer">NYU Cybersecurity Index</span>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <span class="example-icon" routerLink="/home" >Home</span>
        <span class="example-icon" routerLink="/rationale" >Rationale</span>
        <span class="example-icon" routerLink="/survey">Survey</span>
        <span class="example-icon" routerLink="/respondents">Respondents</span>
        <span class="example-icon" routerLink="/calculations">Calculations</span>
      </mat-toolbar-row>
</mat-toolbar>


<router-outlet></router-outlet>