<div fxLayout='row' class="zero">
    <div fxFlex="5" class="one" ></div>
    <div fxFlex="90" class="two" >
            <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                              <h4>Constructing an Index for cybersecurity risk</h4>
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div>
                            <p>
                                When one thinks of creating an index, the obvious indices that come to mind are those focused on financial markets. 
                                Those can be straightforward – in the S&P 500 Index, the prices of the constituents are known as are the weights in 
                                the form of the free float of the stock. The S&P 500 Index is thus completely transparent, independent, and objective, 
                                with neither of the two variables controlled by those creating it. The Lehman/Barclays Global Aggregate and its 
                                sub-indices can be clearly defined in terms of what goes into constructing them, and both prices and issued quantities
                                are known as objective numbers. Yet not all financial indices enjoy the benefit of such clarity on both prices and weights. 
                                The Dow Jones Industrial Average (DJIA) is a price based index, but of 30 subjectively selected stocks; it is, of course, 
                                widely used, including as the basis of financial derivative contracts and Exchange Traded Funds (ETFs). The key feature in 
                                any index is consistency, which is what makes an index useful. Subjectivity in determining an index does not erode credibility 
                                so long as transparency and consistency are maintained.
                              </p>
                        </div>
                        <div>
                            <h3>
                                When is an index useful?
                            </h3>
                            <p>
                                For any financial index to be maximally useful, it should be tradable in some way. A group of people should be able to associate
                                 the value of the index with the financial well being of their portfolio, their business, or something that has economic relevance.
                                If trade-ability is not possible, then the index becomes an object of mere entertainment, cocktail conversations, and not much more.
                                It becomes like the daily number for humidity, or the Big Mac index, or something like the “smoothed-sunspot-number” (SSN) which 
                                while published daily is of interest only to an esoteric community.
                            </p>
                            <mat-list>
                                <h3 mat-subheader>For an index to be “really useful,” it needs to be able to do the following two things at the very least:</h3>
                                <mat-list-item role="listitem">Risk managers should be able to use the index to hedge their risks</mat-list-item>
                                <mat-list-item role="listitem">Investors should be able to take on exposure to the risks that the index incorporates,
                                     and be rewarded for taking on the risk by those who do not desire such risk.</mat-list-item>
                            </mat-list>
                            <p>
                                The above are, needless to say, in addition to the basic requirements of objectivity, consistency, 
                                rule-based computation, and transparency which we consider a given.
                            </p>
                            <p>
                                Information security risks and financial risks differ in a number of fundamental ways that make achieving 
                                the above “economic objectives” difficult. While obvious, there is a need to explicitly recognize these 
                                differences. The lack of data on information security is a known matter, but it does not represent a 
                                fundamental or conceptually insurmountable issue. The past decade has shown indices being very usefully 
                                put together for risks that were for very long times not considered computable.
                            </p>
                        </div>
                      </mat-expansion-panel>
                      <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <h4>The nature of cybersecurity risks</h4>
                            </mat-expansion-panel-header>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    Differences between cybersecurity risk and financial risk
                                </mat-expansion-panel-header>
                                <div>
                                    
                                </div>
                            </mat-expansion-panel>
                      </mat-expansion-panel>
                      <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <h4>Building the index</h4>
                            </mat-expansion-panel-header>
                      </mat-expansion-panel>
                      <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <h4>Conclusion</h4>
                            </mat-expansion-panel-header>
                            <div>
                                <p>
                                    The above is a simplistic explanation of the initial thoughts on constructing an Index of Cyber Security.
                                    We will stop here just to be sure that we take one step at a time,
                                    the first of which is launching the index. For the proposed calculation methodology, please refer to the ‘calculation’ tab.
                                </p>
                            </div>
                      </mat-expansion-panel>
                  </mat-accordion>
    </div>
    <div fxFlex="5" class="three" ></div>
</div>

