<div fxLayout='row' class="zero">
        <div fxFlex="10" class="one" >
        </div>
        <div fxFlex="80" class="two">
            <div fxLayout="column">
                    <h1>CVE Data</h1>
                    <div>
                            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                                    <!--- Note that these columns can be defined in any order.
                                          The actual rendered columns are set as a property on the row definition" -->
                                  
                                    <!-- Position Column -->
                                    <ng-container matColumnDef="CVE-ID">
                                      <th mat-header-cell *matHeaderCellDef> CVE_ID </th>
                                      <td mat-cell *matCellDef="let element"> {{element.cveid}} </td>
                                    </ng-container>
                                  
                                    <!-- Name Column -->
                                    <ng-container matColumnDef="V2 Exploit Score">
                                      <th mat-header-cell *matHeaderCellDef> V2 Exploit Score </th>
                                      <td mat-cell *matCellDef="let element"> {{element.v2_exploitability_score}} </td>
                                    </ng-container>
                                  
                                    <!-- Weight Column -->
                                    <ng-container matColumnDef="V2 Impact Score">
                                      <th mat-header-cell *matHeaderCellDef> V2 Impact Score </th>
                                      <td mat-cell *matCellDef="let element"> {{element.v2_impact_score}} </td>
                                    </ng-container>
                                  
                                    <!-- Symbol Column -->
                                    <ng-container matColumnDef="V3 Exploit Score">
                                      <th mat-header-cell *matHeaderCellDef> V3 Exploit Score </th>
                                      <td mat-cell *matCellDef="let element"> {{element.v3_exploitability_score}} </td>
                                    </ng-container>
                            
                                    <!-- Symbol Column -->
                                    <ng-container matColumnDef="V3 Impact Score">
                                        <th mat-header-cell *matHeaderCellDef> V3 Impact Score </th>
                                        <td mat-cell *matCellDef="let element"> {{element.v3_impact_score}} </td>
                                    </ng-container>
                            
                                    <!-- Symbol Column -->
                                    <ng-container matColumnDef="Published Date">
                                            <th mat-header-cell *matHeaderCellDef> Published Date </th>
                                            <td mat-cell *matCellDef="let element"> {{element.published_date}} </td>
                                        </ng-container>
                                  
                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                    </div>
                                    
            </div>  
        </div>
    <div fxFlex class="three"></div>
</div>

