<div fxLayout='row' class="zero">
        <div fxFlex="10" class="one" ></div>
        <div fxFlex="80" class="two" >
                <div>
                        <p>
                            Survey research is vulnerable to poorly chosen respondents. 
                            The respondents to this survey will be privately recruited industry 
                            practitioners with operational responsibilities for managing 
                            information security risks. It is critical that they have both 
                            skill and responsibility. We are currently targeting:
                        </p>
                        
                            <mat-list>
                                <mat-list-item>- Chief Risk Officers and their direct reports</mat-list-item>
                                <mat-list-item>- Chief Information Security Officers and their direct reports</mat-list-item>
                                <mat-list-item>- Selected academicians engaged in field work</mat-list-item>
                                <mat-list-item>- Selected security product vendors’ Chief Scientists or equivalent</mat-list-item>
                            </mat-list>
                    
                        <p>
                            Survey responses will be collected electronically using a website. 
                            Respondents will be functionally anonymous, i.e., they would log 
                            in using credentials of their choosing and can be confident that 
                            their responses will not be associated with them in any public manner. 
                            Only the core project team would have access, and that on paper only, 
                            to knowing the true names of the respondents. 
                            People with an interest in the subject matter of the index may request 
                            participation in the survey, and such requests will be evaluated by the 
                            core project team to allow participation only by people who have first 
                            hand knowledge of the cyber security threats facing the industry.
                        </p>
                    
                        <p>
                            Publication will commence when 100 respondents are in hand and active; the target survey population is 300.
                        </p>
                    </div>
        </div>
        <div fxFlex="10" class="three" ></div>
</div>

